*, *::before, *::after {
    box-sizing: border-box;
  }

.container {
    max-width: 1140px;
    margin: auto;

}

.title {
    text-align: center;
    font-size: 86px;
}

.time {
    font-size: 102px;
    text-align: center;
}
